<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string></string>
	<key>contactName</key>
	<string>Ryan Bates</string>
	<key>description</key>
	<string>This theme is used and created by Ryan Bates on &lt;a href="http://railscasts.com"&gt;RailsCasts.com&lt;/a&gt;. It is custom made and based off of the theme by &lt;a href="http://fluidsyntax.com/blog/articles/idlefingers-textmate-theme"&gt;idlefingers&lt;/a&gt;.</string>
	<key>name</key>
	<string>RailsCasts</string>
	<key>uuid</key>
	<string>D7F01CFD-83F3-4C22-BD0E-2FCCFCDBECD1</string>
</dict>
</plist>
