<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string></string>
	<key>contactName</key>
	<string>Ryan Bates</string>
	<key>description</key>
	<string>New shiny bundle for X.</string>
	<key>name</key>
	<string>RailsCasts</string>
	<key>uuid</key>
	<string>D7F01CFD-83F3-4C22-BD0E-2FCCFCDBECD1</string>
</dict>
</plist>
